@import 'tailwindcss';
@import '@fontsource-variable/merriweather';
@import '@fontsource-variable/roboto-mono';
@import '@fontsource/roboto';
@import '@fontsource-variable/playfair-display';
@import '@fontsource/spectral';
@import '@fontsource-variable/montserrat';
@import '@fontsource-variable/open-sans';

#root,
body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--color-warmBeige);
  color: var(--color-softBlack);
  @media (prefers-color-scheme: dark) {
    background-color: var(--color-softBlack);
    color: var(--color-warmBeige);
  }

  /* background-color: #111827; */
}

/* https://www.vev.design/blog/dark-mode-website-color-palette/ 

    Background: #1C1C1C (soft black)
    Primary Text: #F5E8D8 (warm beige)
    Accent 1: #FF6F61 (muted coral)
    Accent 2: #DAA520 (golden yellow)
    Hover Effects: #FF4500 (burnt orange)
*/

@theme {
  --color-softBlack: #1c1c1c;
  --color-warmBeige: #f5e8d8;
  --color-mutedCoral: #ff6f61;
  --color-goldenYellow: #daa520;
  --color-burntOrange: #ff4500;
}

@layer base {
  h1 {
    @apply font-[Montserrat_Variable] text-5xl;
  }
  h2 {
    @apply text-burntOrange font-[Montserrat_Variable] text-2xl;
  }
  h3 {
    @apply text-mutedCoral mb-2 font-[Montserrat_Variable] text-2xl font-semibold;
  }
  li {
    @apply font-[Montserrat_Variable];
  }
  p {
    @apply mb-3 pb-1.5 font-[Open_Sans_Variable] text-[large];
  }

  /* TODO: Maybe change headings color to the other red on light mode */

  svg {
    @apply hover:text-goldenYellow;
  }
  /* button {
    @apply text-[#C3803C];
  } */
  label {
    @apply mt-2;
  }
  input,
  textarea {
    @apply mt-1 mr-1 rounded-md bg-amber-50 p-1;
  }
}
